body{
    margin: 0;
    background-color: black;
}
.parent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* height: 662px; */
    align-items: center;
    align-content: center;
    margin-top: 100px;
}
.box{
    width: 220px;
    height: 200px;
    background-color: green;
    margin: 10px;
    font-size: larger;
    color: white;
    text-align: center;
    box-sizing: border-box;
    padding: 81px;
}
.box1{
    transition: 1s;
 
}
.box1:hover{
    transform: translateX(20px);
    background-color: rgb(133, 8, 8);
}
.box2{
transition: 1s;
}
.box2:hover{
   transform: translateX(-20px);
    background-color: rgb(133, 8, 8);
}
.box3{
transition: .5s;
}
.box3:hover{
 transform: translateY(-20px);
    background-color: rgb(133, 8, 8);
}
.box4{
transition: .5s;
}
.box4:hover{
 transform: translateY(20px);
    background-color: rgb(133, 8, 8);
}
.box5{
transition: .5s;
}
.box5:hover{
transform: scale(1.5);
background-color: rgb(133, 8, 8);
}
.box6{
transition: .5s;
}
.box6:hover{
transform: scale(.5);
background-color: rgb(133, 8, 8);
}
.box7{
transition: .5s;
}
.box7:hover{
    border-radius: 50%;
background-color: rgb(133, 8, 8);
}
.box8{
transition: .5s;
}
.box8:hover{
background-color: rgb(133, 8, 8);
transform: scaleX(1.5);
}
.box9{
transition: .5s;
}
.box9:hover{
background-color: rgb(133, 8, 8);
transform: scaleY(1.5);
}
.box10{
transition: .5s;
}
.box10:hover{
background-color: rgb(133, 8, 8);
transform: rotate(45deg);
}